/* about */
.about {
    padding: var(--spacing-xl) 0;
    background-color: var(--bg-color);
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-xl);
    align-items: center;
}

.about-img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.about-img img {
    width: 100%;
    border-radius: 10px;
    transition: var(--transition);
}

.about-img:hover img {
    transform: scale(1.05);
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: var(--spacing-sm);
    color: var(--text-primary);
}

.about-text h4{
    font-size: 1.2rem;
    color: var(--accent-color);
    margin-bottom: var(--spacing-md);
    font-weight: 600;
}

.about-text p{
    color: var(--text-secondary);
    margin-bottom: var(--spacing-md);
    font-size: 1.05rem;
}

.skills-list {
    display: flex;
    gap: var(--spacing-md);
    margin-top: var(--spacing-lg);
    flex-wrap: wrap;
}

.skill-item {
    background-color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--color-primary);
    border: 1px solid #333;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: var(--transition);
}

.skill-item:hover {
    border-color: var(--accent-color);
    transform: translateY(-3px);
}

.skill-item i {
    color: var(--accent-color);
}

/* @media */